* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

h3 > a {
  color: white;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f0a3b7;
  background-size: cover;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.menu-horizontal {
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 14px;
  margin: 20px;
  padding-right: 30px;
}

.menu-horizontal > li > a {
  display: block;
  padding: 2px 5px;
}

.menu-horizontal > li :hover {
  background-color: rgb(179, 35, 114);
}

.menu-vertical {
  position: absolute;
  display: none;
  list-style: none;
  width: 200px;
  background-color: rgba(134, 39, 91, 0.5);
  padding: 20px;
}

.menu-horizontal li:hover .menu-vertical {
  display: block;
}

.menu-vertial li:hover {
  background-color: rgb(128, 49, 92);
}

.menu-vertial li a {
  display: block;
  color: white;
  padding: 15px 15px 15px 20px;
}

.logolupi img {
  left: 70px;
  top: -60px;
  width: 100%;
  height: 65px;
  margin: 2px;
}

.slider-frame .banner-mobile {
  display: none;
}

.slider-frame{
  overflow:hidden;
  display: flex; 
  justify-content: center;
  align-items: center;
  }

.slider-frame img {
  width: 100%;
  height: auto;
  margin: 2px auto 0;
  overflow: hidden;
  display: block;
  margin: auto;
}

.slider-frame ul {
  display: flex;
  padding: 0;
  width: 300%;
}

.slider-frame li {
  list-style: none;
  width: 100%;
}

.slider-frame img {
  width: 100%;
}



.mas-vendidos-content {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 1;
  grid-gap: 16px;
  margin: 15px;
}

.mas-vendidos-content > a {
  display: flex;
  justify-content: center;
}

.mas-vendidos-content > a > img {
  width: 300px;
  border-radius: 25px;
}

.text-body > h1 {
  font-size: 28px;
  text-align: center;
  color: white;
  padding: 20px;
}

.text-body > h2 {
  font-size: 20px;
  text-align: center;
  color: white;
  padding: 30px;
  margin-left: 60px;
  margin-right: 60px;
}





.footer {
  background-color: #f0a3b7;
}

.footer ul {
  padding: 1px;
}

.footer li {
  list-style: none;
}

.mis-locales {
  font-size: 30px;
  text-align: center;
  color: white;
}

ul > li {
  font-size: 20px;
  list-style: none;
  color: white;
}

ul > li > a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.item-menu-custom {
  color: hotpink;
  font-weight: 600;
}

.item-menu-custom2 {
  color: white;
  font-weight: 600;
  text-decoration: none;
}

.wrap-footer {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  column-gap: 5%;
  padding: 15px 182px;
  margin: 2rem auto;
  max-width: 1200px;
  color: white;
}

.logo-element_footer {
  display: flex;
  margin: 2rem 0;
}

.logo-element_footer img {
  max-height: 75px;
}

.element-footer h5 {
  margin: 1rem 0;
}

.text-element-footer li {
  line-height: 2;
  color: white;
}

.link-elements-footer li a {
  color: white;
}

.rrss-element-footer ul {
  display: flex;
  flex-flow: wrap;
}

.rrss-element-footer img {
  width: 35px;
}

.rrss-element-footer li {
  margin-right: 1rem;
}

@media only all and (max-width: 650px) {
  nav {
    flex-direction: column;
  }
  .logolupi {
    width: 60% !important;
  }
  .logolupi img {
    width: 28%;
  }
  .menu-horizontal {
    flex-direction: column;
    align-items: center;
  }
  .menu-horizontal > li {
    font-size: 32px;
  }
  .slider-frame {
    margin-top: 50px;
  }
  .slider-frame li {
    display: none;
  }
  .slider-frame .banner-mobile {
    display: block;
  }
  .slider-frame > ul > li > img {
    height: auto;
  }
  .mas-vendidos {
    padding: 50px 0px;
  }
  .mas-vendidos > h2 {
    font-size: 36px;
    margin-bottom: 50px;
  }
  .mas-vendidos-content {
    grid-template-columns: auto;
  }
  .wrap-footer {
    grid-template-columns: auto;
    grid-gap: 45px;
    padding: 15px 15% !important;
  }
}
@media only all and (max-width: 980px) and (min-width: 650px) {
  .mas-vendidos-content {
    grid-template-columns: 48% 48%;
  }
  .wrap-footer {
    grid-template-columns: auto;
    grid-gap: 45px;
    padding: 15px 5% !important;
  }
}

/*# sourceMappingURL=styles-heladeria.css.map */
